html {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
  min-width: 320px;
  background:#f7fbff;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0,0,0,.87);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.main, .site-footer, .site-header{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.site-footer {
	min-height: 315px;
  max-width: 100%;
	background: url('../images/footer-background.jpg') 50% 50%;
	background-size: 100% 100%;
}